In [3]:
import pandas as pd
import sqlite3

In [5]:
con = sqlite3.connect("/content/Chinook (Data Base File) (3).db")
con.text_factory = bytes

In [6]:
# define a helper function so the same syntax can be used
dbGetQuery = lambda con, q: pd.read_sql(q, con=con)

In [7]:
print(dbGetQuery(con, "select max(Milliseconds), avg(Milliseconds)  from Track;"))

   max(Milliseconds)  avg(Milliseconds)
0            5286953      393599.212104

In [8]:
print(dbGetQuery(con, "select distinct AlbumID from Track"))

     AlbumId
0          1
1          2
2          3
3          4
4          5
..       ...
342      343
343      344
344      345
345      346
346      347

[347 rows x 1 columns]

In [10]:
print(dbGetQuery(con, "select trackid ,name from Track where Bytes < 1000000"))

   TrackId                            Name
0      168                   b'Now Sports'
1      170                  b'A Statistic'
2      172             b'The Real Problem'
3      178                        b'Oprah'
4     2241                        b'Bossa'
5     2461  b'\xc9 Uma Partida De Futebol'
6     3304                 b'Commercial 1'
7     3310                 b'Commercial 2'

In [9]:
print(dbGetQuery(con, "select name, title from Album join Artist using(ArtistId)"))

                                                  Name  \
0                                             b'AC/DC'
1                                            b'Accept'
2                                            b'Accept'
3                                             b'AC/DC'
4                                         b'Aerosmith'
..                                                 ...
342                                  b'Eugene Ormandy'
343                          b'Emerson String Quartet'
344  b'C. Monteverdi, Nigel Rogers - Chiaroscuro; L...
345                                   b'Nash Ensemble'
346                           b'Philip Glass Ensemble'

                                                 Title
0             b'For Those About To Rock We Salute You'
1                                 b'Balls to the Wall'
2                                 b'Restless and Wild'
3                                 b'Let There Be Rock'
4                                          b'Big Ones'
..                                                 ...
342                          b'Respighi:Pines of Rome'
343  b"Schubert: The Late String Quartets & String ...
344                             b"Monteverdi: L'Orfeo"
345                           b'Mozart: Chamber Music'
346  b'Koyaanisqatsi (Soundtrack from the Motion Pi...

[347 rows x 2 columns]

In [11]:
print(dbGetQuery(con, "select track.name,album.title from track join album using(albumid) where title = 'Supernatural'"))

                      Name            Title
0         b'(Da Le) Yaleo'  b'Supernatural'
1       b'Love Of My Life'  b'Supernatural'
2    b'Put Your Lights On'  b'Supernatural'
3          b'Africa Bamba'  b'Supernatural'
4                b'Smooth'  b'Supernatural'
5   b'Do You Like The Way'  b'Supernatural'
6           b'Maria Maria'  b'Supernatural'
7                 b'Migra'  b'Supernatural'
8      b'Corazon Espinado'  b'Supernatural'
9        b'Wishing It Was'  b'Supernatural'
10             b'El Farol'  b'Supernatural'
11            b'Primavera'  b'Supernatural'
12          b'The Calling'  b'Supernatural'

In [12]:
# New Query: Find the total number of tracks per album
print(dbGetQuery(con, """
    SELECT Album.Title, COUNT(Track.TrackId) AS NumberOfTracks
    FROM Album
    JOIN Track ON Album.AlbumId = Track.AlbumId
    GROUP BY Album.Title
    ORDER BY NumberOfTracks DESC;
"""))

                                                 Title  NumberOfTracks
0                                     b'Greatest Hits'              57
1                                    b'Minha Historia'              34
2                                         b'Unplugged'              30
3                                    b'Lost, Season 3'              26
4                              b'The Office, Season 3'              25
..                                                 ...             ...
342                               b'Allegri: Miserere'               1
343  b'Adorate Deum: Gregorian Chant from the Prope...               1
344                b'Adams, John: The Chairman Dances'               1
345                              b'A Soprano Inspired'               1
346                   b'A Copland Celebration, Vol. I'               1

[347 rows x 2 columns]